@import '../../styles.scss';

.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color:  transparentize($color: whitesmoke  , $amount: 0.4);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    span {
        margin-left: 8px;
        font-size: 32px;
        color: black;
        font-weight: bold
    }

    >img {
        @include imageSize(80px, 80px);
        margin: 8px;
    }
}