@import '../../styles.scss';

.player {
    display: flex;
    align-items: center;
    width: 300px;
    background-color:  transparentize($color: whitesmoke  , $amount: 0.1);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    span {
        margin-left: 8px;
        font-size: 32px;
        color: black;
        font-weight: bold
    }

    >img {
        @include imageSize(50px, 50px);
        margin: 8px;
    }
}

.player-active {

    background-color:  whitesmoke !important;

    >img {
        @include imageSize(70px, 70px);
    }

}