@import '../../styles.scss';

.start-screen {
    max-width: 100%;
    height: 100vh;
    background-color: #F4F4F2;
    background-image: url(../../../public/assets/img/start_screen.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


    button {
        border-radius: 50%;
        padding: 35px;

        &:hover{
            cursor: pointer;
        padding: 45px;
        }

        >img {
            @include imageSize(150px, 150px);
        }

    }
}