* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    font-feature-settings: "lnum" 1;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

@mixin imageSize($w , $h) {
    width: $w;
    height: $h;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
